body {
    padding-bottom: 20px;
    font-family: Candara;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
    input.number {
        font-family: 'Microsoft Sans Serif';
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.btn-warning {
    color: white;
}

/* Set the image icon on Navbar*/

.mw-unset {
    max-width: unset;
}

.navbar {
    margin-bottom:20px;
}

.navBarImageLogo {
    width: 40px;
    height: 40px
}

.homeImage {
    background-size: cover;
    height: 120px;
}

.indexItemStatusEditBtn {
     margin-right:2px;
}

.itemHomeTable td.indexItemStatusEditTd {
    width: 110px;
}

