@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Application Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@Html.ActionLink("Go Back To Home Page", "Index", "Home", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })

